
@page "/favorites"


<h1>Favorite Pokemon</h1>

@if (favoritePokemonList.Count > 0)
{
    <div class="pokemon-row">
        @foreach (var favoritePokemon in favoritePokemonList)
        {
            <div class="pokemon-card">
                <img src="@favoritePokemon.sprites.front_default" alt="Pokemon Sprite">
                <h4 class="pokemon-name">@favoritePokemon.name</h4>
                <div class="type-row">
                    @foreach (var type in favoritePokemon.types)
                    {
                        <span class="type-badge"
                              style="background-color: @PokeColor.GetTypeColor(@type.type.name)">@type.type.name</span>
                    }
                </div>
                <button @onclick="() => RemoveFromFavorites(favoritePokemon)">
                    Remove from Favorites
                </button>
            </div>
        }
    </div>
}
else
{
    <p>No favorite Pokemon selected.</p>
}

@code {
    List<Pokemon> favoritePokemonList = new List<Pokemon>();

    bool IsFavorite(Pokemon pokemon)
    {
        return favoritePokemonList.Contains(pokemon);
    }

    void RemoveFromFavorites(Pokemon pokemon)
    {
        favoritePokemonList.Remove(pokemon);
    }

    protected override void OnInitialized()
    {
        // Fetch favorite Pokemon from wherever they are stored
        // Example: favoritePokemonList = SomeDataService.GetFavoritePokemon();
    }
}